<a
  href="https://github.com/markdcross"
  target="_blank"
  class="githubBtn button ctcLinks"
>
  <span class="icon">
    <i class="fab fa-github"></i>
  </span>
</a>
<a
  href="https://www.linkedin.com/in/markdcross/"
  target="_blank"
  class="githubBtn button ctcLinks"
>
  <span class="icon">
    <i class="fab fa-linkedin"></i>
  </span>
</a>
