<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <img class="navbar-brand" src="img/logo.png" alt="Mark's logo" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse nav-masthead justify-content-end"
      id="navbarToggler"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/portfolio">Portfolio</a>
        <a
          class="nav-link"
          href="https://drive.google.com/file/d/1dEob3eecP-uUu-rrFsUMKvKf-3f1CQZA/view?usp=sharing"
          target="_blank"
          >Resume</a
        >
        <a
          class="nav-link"
          id="contactBtn"
          data-bs-toggle="modal"
          data-bs-target="#contactModal"
          href="#"
          >Contact</a
        >
      </ul>
      <!-- Contact Modal -->
      <%- include('../partials/modal'); %>

      <!-- Contact links -->
      <%- include('../partials/ctcLinks'); %>
    </div>
  </div>
</nav>
