<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <img class="navbar-brand" src="img/logo.png" alt="Mark's logo" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse nav-masthead justify-content-end"
      id="navbarToggler"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/portfolio">Portfolio</a>
        <a
          class="nav-link"
          href="https://drive.google.com/file/d/1s8e7U0Im9T7QM-llLo9dkJ3AbRxdPTBY/view?usp=sharing"
          target="_blank"
          >Resume</a
        >
        <a
          class="nav-link"
          id="contactBtn"
          data-bs-toggle="modal"
          data-bs-target="#contactModal"
          href="#"
          >Contact</a
        >
      </ul>
      <!-- CONTACT MODAL -->
      <div class="modal" id="contactModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Give me a shout</h5>
              <button
                type="button"
                class="close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                Email: markdcross@gmail.com <br />
                Phone: 410.271.3079 <br />
                Calendly:
                <a
                  href="https://calendly.com/markdcross/15min"
                  target="_blank"
                  class="calendly"
                  >Put time on my calendar</a
                ><br />
              </p>
              <!-- TODO Add form validation -->
              <form name="contact" id="contactForm">
                <div class="form-group">
                  <label for="formName">Name</label>
                  <input type="text" class="form-control" id="formName" />
                </div>
                <div class="form-group">
                  <label for="formEmail">Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    id="formEmail"
                    aria-describedby="emailHelp"
                  />
                  <small id="emailHelp" class="form-text"
                    >I'll never share your email with anyone else.</small
                  >
                </div>
                <div class="form-group">
                  <label for="formMessage">Message</label>
                  <textarea
                    class="form-control"
                    id="formMessage"
                    rows="3"
                  ></textarea>
                </div>
                <button
                  type="submit"
                  class="btn btn-primary"
                  id="contactSubmit"
                >
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /Modal -->
      <a
        href="https://github.com/markdcross"
        target="_blank"
        class="githubBtn button ctcLinks"
      >
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
      </a>
      <a
        href="https://www.linkedin.com/in/markdcross/"
        target="_blank"
        class="githubBtn button ctcLinks"
      >
        <span class="icon">
          <i class="fab fa-linkedin"></i>
        </span>
      </a>
    </div>
  </div>
</nav>
