<article id="heroDiv">
  <h1 class="cover-heading" id="imMark">Hi. I'm Mark.</h1>
  <h2 class="lead" id="subHeading">
    Full Stack Developer. Sales Leader. <br />
    Killer Haircut.
  </h2>
  <h3 class="lead" id="getToKnowMe">
    Get to know me below.
    <i
      class="far fa-hand-point-down animate__animated animate__bounce animate__delay-5s"
    ></i>
    <br />
    Check out my work and get in touch above.
    <i
      class="far fa-hand-point-up animate__animated animate__bounce animate__delay-5s"
    ></i>
  </h3>
</article>
