<div class="containter">
  <ul class="nav row nav-pills">
    <li class="col-xs-12 col-md-5 nav-pill nav-item" id="introBtn">
      <span class="icon is-small"
        ><i class="fas fa-user-secret" aria-hidden="true"></i
      ></span>
      <span>Who is this guy?</span>
    </li>
    <li class="col-sm-12 col-md-5 nav-pill nav-item" id="stackBtn">
      <span class="icon is-small"
        ><i class="fas fa-laptop-code" aria-hidden="true"></i
      ></span>
      <span>Tech Stack</span>
    </li>
    <!-- Brewing section on hold-->
    <!-- <li class="nav-pill nav-item">
      <a id="brewBtn" href="#">
        <span class="icon is-small"
          ><i class="fas fa-beer" aria-hidden="true"></i
        ></span>
        <span>Brewing</span>
      </a>
    </li> -->
  </ul>
</div>
