<!-- TODO Iterate over the database (Drop in MongoDB) -->
<!-- TODO Vertical pills for navigation? -->

<!--! Hard Code Below -->
<div class="container-fluid">
  <div class="container wrapper justify-content-center">
    <div class="row">
      <div class="col-md-12">
        <h1 class="portfolioHeader">Recent Projects</h1>
      </div>
    </div>

    <div class="row portContainer">
      <div class="card-deck col">
        <div class="card">
          <img src="img/gitjobs.png" class="card-img-top" alt="GitJobs" />
          <div class="card-body">
            <h5 class="card-title">GitJobs</h5>
            <p class="card-text">
              Using GitJobs, you can track your professional contacts and job
              applications in one central place. Take control of your career
              today!
            </p>
          </div>
          <div class="card-footer">
            <button class="card-text">
              <a
                href="https://gitjobs-application-tracker.herokuapp.com/"
                target="_blank"
                >See it Live</a
              >
            </button>
            <button class="card-text">
              <a
                href="https://github.com/jallan07/gitjobs-application-tracker"
                target="_blank"
                >See the Code</a
              >
            </button>
          </div>
        </div>
      </div>
      <div class="card-deck col">
        <div class="card">
          <img src="img/perspektiv.png" class="card-img-top" alt="Perspektiv" />
          <div class="card-body">
            <h5 class="card-title">Perspektiv</h5>
            <p class="card-text">
              Get to know the beautifully weird city of Richmond through its
              murals and food via a web application integrating multiple
              server-side APIs to display information about the city's art and
              food scenes.
            </p>
          </div>
          <div class="card-footer">
            <button class="card-text">
              <a href="https://markdcross.github.io/perspektiv/" target="_blank"
                >See it Live</a
              >
            </button>
            <button class="card-text">
              <a href="https://github.com/markdcross/perspektiv" target="_blank"
                >See the Code</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row portContainer">
      <div class="card-deck col">
        <div class="card">
          <img src="img/burger.png" class="card-img-top" alt="Eat Da Burger" />
          <div class="card-body">
            <h5 class="card-title">Eat Da Burger</h5>
            <p class="card-text">
              A burger logger with MySQL, Node, Express, Handlebars and a custom
              ORM. Following the MVC design pattern, I've used Node and MySQL to
              query and route data in the app, and Handlebars to generate the
              HTML.
            </p>
          </div>
          <div class="card-footer">
            <button class="card-text">
              <a href="https://bc-hw13-burger.herokuapp.com/" target="_blank"
                >See it Live</a
              >
            </button>
            <button class="card-text">
              <a href="https://github.com/markdcross/burger" target="_blank"
                >See the Code</a
              >
            </button>
          </div>
        </div>
      </div>
      <div class="card-deck col">
        <div class="card">
          <img
            src="img/notetaker.png"
            class="card-img-top"
            alt="Fancy Post-its App"
          />
          <div class="card-body">
            <h5 class="card-title">Fancy Post-its</h5>
            <p class="card-text">
              This application can be used to write, save, and delete notes by
              using an express backend to save and retrieve data from a JSON
              file.
            </p>
          </div>
          <div class="card-footer">
            <button class="card-text">
              <a href="https://fancy-post-its.herokuapp.com/" target="_blank"
                >See it Live</a
              >
            </button>
            <button class="card-text">
              <a
                href="https://github.com/markdcross/fancy-post-its"
                target="_blank"
                >See the Code</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
