<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <main class="container-fluid">
        <div class="container wrapper">
          <div class="row">
            <div class="col-md-12">
              <h1 class="portfolioHeader">Recent Projects</h1>
            </div>
          </div>
          <div
            class="row row-cols-1 row-cols-md-4 justify-content-center"
            id="portContainer"
          >
            <div class="card-deck col mb-4">
              <div class="card">
                <img
                  src="assets/images/perspektiv.png"
                  class="card-img-top"
                  alt="Perspektiv"
                />
                <div class="card-body">
                  <h5 class="card-title">Perspektiv</h5>
                  <p class="card-text">
                    Get to know the beautifully weird city of Richmond through
                    its murals and food via a web application integrating
                    multiple server-side APIs to display information about the
                    city's art and food scenes.
                  </p>
                </div>
                <div class="card-footer">
                  <button class="card-text">
                    <a
                      href="https://markdcross.github.io/perspektiv/"
                      target="_blank"
                      >App</a
                    >
                  </button>
                  <button class="card-text">
                    <a
                      href="https://github.com/markdcross/perspektiv"
                      target="_blank"
                      >Repo</a
                    >
                  </button>
                </div>
              </div>
            </div>
            <div class="card-deck col mb-4">
              <div class="card">
                <img
                  src="assets/images/burger.png"
                  class="card-img-top"
                  alt="Perspektiv"
                />
                <div class="card-body">
                  <h5 class="card-title">Eat Da Burger</h5>
                  <p class="card-text">
                    A burger logger with MySQL, Node, Express, Handlebars and a
                    custom ORM. Following the MVC design pattern, I've used Node
                    and MySQL to query and route data in the app, and Handlebars
                    to generate the HTML.
                  </p>
                </div>
                <div class="card-footer">
                  <button class="card-text">
                    <a
                      href="https://bc-hw13-burger.herokuapp.com/"
                      target="_blank"
                      >App</a
                    >
                  </button>
                  <button class="card-text">
                    <a
                      href="https://github.com/markdcross/burger"
                      target="_blank"
                      >Repo</a
                    >
                  </button>
                </div>
              </div>
            </div>

            <div class="card-deck col mb-4">
              <div class="card">
                <img
                  src="assets/images/postits.png"
                  class="card-img-top"
                  alt="Fancy Post-its App"
                />
                <div class="card-body">
                  <h5 class="card-title">Fancy Post-Its</h5>
                  <p class="card-text">
                    This application can be used to write, save, and delete
                    notes by using an express backend to save and retrieve data
                    from a JSON file.
                  </p>
                </div>
                <div class="card-footer">
                  <button class="card-text">
                    <a
                      href="https://fancy-post-its.herokuapp.com/"
                      target="_blank"
                      >App</a
                    >
                  </button>
                  <button class="card-text">
                    <a
                      href="https://github.com/markdcross/fancy-post-its"
                      target="_blank"
                      >Repo</a
                    >
                  </button>
                </div>
              </div>
            </div>
            <div class="card-deck col mb-4">
              <div class="card">
                <img
                  src="assets/images/roster.png"
                  class="card-img-top"
                  alt="Team Roster Generator"
                />
                <div class="card-body">
                  <h5 class="card-title">8-bit Engineers</h5>
                  <p class="card-text">
                    Node CLI that takes in information about employees and
                    generates an HTML webpage that displays summaries for each
                    person.
                  </p>
                </div>
                <div class="card-footer">
                  <button class="card-text">
                    <a
                      href="https://github.com/markdcross/8-bit-engineers"
                      target="_blank"
                      >Repo</a
                    >
                  </button>
                </div>
              </div>
            </div>
            <div class="card-deck col mb-4">
              <div class="card">
                <img
                  src="assets/images/employeetracker.png"
                  class="card-img-top"
                  alt="Employee Tracker"
                />
                <div class="card-body">
                  <h5 class="card-title">Employee Tracker</h5>
                  <p class="card-text">
                    A mini-CRM using node, inquirer, and MySql. Allows the user
                    to view and manage the departments, roles, and employees
                    within their company from within the command line.
                  </p>
                </div>
                <div class="card-footer">
                  <button class="card-text">
                    <a
                      href="https://github.com/markdcross/employee-tracker"
                      target="_blank"
                      >Repo</a
                    >
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
